
BRACS.xlsx
~$val_results.xlsx
BRACS_3273.svs
BRACS_3292.svs
data_RoI_WSI_512.npy
data_RoI_WSI_512.pkl
data_WSI_50.pkl
matriz_confusion_test_nclases3.png
prueba.py
execution.log
test.xlsx
train_RoI_nadam.py
~$BRACS.xlsx
~$BRACS.xlsx
~$test_results.xlsx
~$test.xlsx
~$val_Epoch23.xlsx
~$train_results.xlsx
~$train_Epoch23.xlsx
data_RoI_WSI_512_test.pkl
